
<h1 class="d-flex justify-content-center mt-5">Ask your coach a question</h1>
<form action="/answer" data-turbo="false" class="form-control d-flex justify-content-center mt-5 p-5">
  <input type="text" name="question">
  <input type="submit" value="Ask!" class="btn btn-primary gap-5">
</form>
